<div class="space-10 mat-subtitle2">@Tittle</div>
<MatDivider></MatDivider>

<div class="mat-layout-grid-inner">
    <div class="space-10 mat-layout-grid-cell mat-layout-grid-cell-span-12">
        <div id="@Id"></div>
    </div>
</div>

@code {
    private TabulatorManager _tabulatorManager;

    private List<Row> _rows;
    private Row _row;

    [Inject]
    public IJSRuntime JS { get; set; }

    [Parameter]
    public string Tittle { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public Row Row
    {
        get
        {
            return _row;
        }
        set
        {
            _row = value;
            _rows = new List<Row>();
            if (_row != null)
            {
                _rows.Add(_row);
            }
        }
    }

    [Parameter]
    public IEnumerable<Row> Rows
    {
        get { return _rows; }
        set { _rows = value.ToList(); }
    }

    [Parameter]
    public RowDefinition RowDefinition { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            _tabulatorManager = TabulatorManager10.Init(JS, $"#{Id}", _rows, RowDefinition);
        }
    }
}
