<div class="mat-subtitle2">Summary</div>
<MatDivider></MatDivider>

<div class="mat-layout-grid-inner">
    <div class="file-summary mat-layout-grid-cell mat-layout-grid-cell-span-6">
        <div class="mat-body2"><strong>Validation Result: </strong>@_model.ValidationResult</div>
        <div class="mat-body2"><strong>Total Number of Data rows: </strong>@_model.DataRowCount</div>
        <div class="mat-body2"><strong>Total Number of Invalid rows: </strong>@_model.InvalidRowCount</div>
    </div>

    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
        @if (_model.FileHasErrors)
        {
            <div class="mat-body2"><strong>Errors:</strong></div>
            @foreach (var error in _model.Errors)
            {
                <div style="margin-left:20px" class="mat-body2">@error</div>
            }
        }
    </div>
</div>
