<MatThemeProvider Theme="@theme">
    <MatToastContainer />

    <Router AppAssembly=typeof(Program).Assembly>
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayoutMat)" />
        </Found>
        <NotFound>
            <h1>Page not found</h1>
            <p>Sorry, but there's nothing here!</p>
        </NotFound>
    </Router>
</MatThemeProvider>


@code
{
    MatTheme theme = new MatTheme()
    {
        Primary = "#94c947",
        Secondary = "#004d2d",
        Background = "#fafafa",
        Surface = "#ffffff"
    };
}