@page "/loaded-file"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-12">
            <h6 class="mat-h6">Loaded File</h6>
        </div>

        <div class="mat-layout-grid-cell-span-12 mat-elevation-z5 index-row-item mdc-theme--surface">
            @if (LoadedFilePageState.ParsedDataAndSpec == null)
            {
                <NoDecodedFileComponent />
            }
            else
            {
                <FileSummaryComponent ParsedDataAndSpec="@LoadedFilePageState.ParsedDataAndSpec"></FileSummaryComponent>
                <FileSectionComponentV10 Id="table-header" RowDefinition="_headerDefinition" Tittle="Header" Row="@_headerRow"></FileSectionComponentV10>
                <FileSectionComponentV10 Id="table-trailer" RowDefinition="_trailerDefinition" Tittle="Trailer" Row="@_trailerRow"></FileSectionComponentV10>
                <FileSectionComponentV10 Id="table-data" RowDefinition="_dataDefinition" Tittle="Data" Rows="@_dataRows"></FileSectionComponentV10>
            }
        </div>
    </div>
</div>
