@page "/loaded-file-json"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-12">
            <h6 class="mat-h6">Loaded File in JSON format</h6>
        </div>

        <div class="mat-layout-grid-cell-span-12 mat-elevation-z5 index-row-item mdc-theme--surface">
            @if (string.IsNullOrWhiteSpace(_frameworkVersion))
            {
                <NoDecodedFileComponent />
            }
            else
            {
                <div id="editor" class="editor"></div>
            }
        </div>
    </div>
</div>
