@page "/loaded-file"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-12">
            <h6 class="mat-h6">Loaded File</h6>
        </div>

        <div class="mat-layout-grid-cell-span-12 mat-elevation-z5 index-row-item mdc-theme--surface">
            @if (LoadedFilePageState.ParsedDataAndSpec == null)
            {
                <NoDecodedFileComponent />
            }
            else
            {
                <FileSummaryComponent ParsedDataAndSpec="@LoadedFilePageState.ParsedDataAndSpec"></FileSummaryComponent>
                <FileRowSummaryComponentV10 Id="table-header" ColumnHeaders="_headerColumns" Tittle="Header" Row="@_headerRow"></FileRowSummaryComponentV10>
                <FileRowSummaryComponentV10 Id="table-trailer" ColumnHeaders="_trailerColumns" Tittle="Trailer" Row="@_trailerRow"></FileRowSummaryComponentV10>
                <FileRowSummaryComponentV10 Id="table-data" ColumnHeaders="_dataColumns" Tittle="Data" Rows="@_dataRows"></FileRowSummaryComponentV10>
            }
        </div>
    </div>
</div>
